page-register {
  @media screen and (max-width: 1300px) {
    body {
      background-size: auto;
    }
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../assets/images/dubai2.jpg");
    background-position: center;
    background-size: cover;
  }

  .logo_bar {
    background: rgba(0, 0, 0, 0.5);
    width: 300px;
    color: white;
    margin-bottom: -30px;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
  }

  .logo {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
  }

  .form_box {
    //margin-right: auto;
    //margin-left: auto;
    margin: auto;
    margin-top: 70px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }

  .form_heading {
    //color: color($colors,secondary);
    padding: 75px 10px 10px 10px;
    margin: auto;
  }

  .font_20 {
    font-size: 13px;
    color: white;
  }

  input {
    background: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #DDDDDD;
    color: white;
    font-family: 'Raleway', 'arial';
    font-weight: 100;
    font-size: 17px;
  }

  input:focus {
    box-shadow: 0 0 10px color($colors,form);
    padding: 10px;
    margin: 10px;
    border: 1px solid color($colors,form);
  }

  input[type=submit]:hover {
    cursor: pointer;
  }


  .credits_box {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: 380px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Raleway', 'arial';
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: antiquewhite;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  /* do not group these rules */
  *::-webkit-input-placeholder {
    color: white;
  }
  *:-moz-placeholder {
    /* FF 4-18 */
    color: white;
  }
  *::-moz-placeholder {
    /* FF 19+ */
    color: white;
  }
  *:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
  }

  /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
  @import url(https://fonts.googleapis.com/css?family=Raleway+Dots);
  @import url(https://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
  @import url(http://weloveiconfonts.com/api/?family=entypo);
  /* entypo */
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }

  button {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    background-color: transparent;
    transition: all 0.5s ease;
    border-radius: 50px;
    border: 2px solid white !important;
  }

  section #services li {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 10px;
    list-style: none;
  }

  section #services li span {
    width: 50px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    font-family: 'Advent Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
  }

  .button-rounded-share {
    display: block !important;
    width: 100px !important;
    height: 100px !important;
    line-height: 30px !important;
    border: 2px solid white !important;
    border-radius: 50% !important;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 10px !important;
    font-weight: bold !important;
    background-image: url('../../assets/images/ShareGreen2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
