page-borrowed-items {

  .mdl-card + .mdl-card {
    margin-top: 40px;
  }

  // Card styles

  .mdl-card--horizontal {
    flex-direction: column;
    height: 1vh; /* 1 */
    padding-left: 10px;
    width: 100%;

    .mdl-card__media {
      left: 0;
      position: relative;
      width: 150px;
    }

    .mdl-card__supporting-text {
      flex: 1 1 auto;
      width: auto;
    }
  }

  .container {
    width:90%;
    margin: auto;
    padding: 10px 0px 50px 10px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
  }

  .return-button {
    background-color: color($colors, primary);
    color: white;
    border-radius: 6px;
    float: right;
    height: 2.5rem;
    padding: 10px 10px;
    margin-top: 15px;
    margin-right: 10px;
  }

  .item1, item2 {
    width:50%;
  }
  .item2 {
    text-align: center;
    color: white;
    font-size: 15px;
  }

  .item1 {
    background-image: url("http://www.ikea.com/gb/en/images/products/tarva-bed-frame-pine-lur%C3%B6y__0448696_pe598331_s5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 50%;
    position: relative;
    float: left;
  }

  .mdl-card--horizontal-2 {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0px;

    .mdl-card__title {
      align-items: flex-start;
      flex-direction: column;
      flex: 1 auto;
      float: left;
    }
    .mdl-card__title-text {
      align-self: flex-start;
    }
    .mdl-card__media {
      flex: 0 auto;
      float: right;
      height: 112px;
      //margin: 16px 16px 0 0;
      margin: auto;
      width: 112px;
    }
    .mdl-card__actions {
      clear: both;
      flex: 1 auto;
    }
  }


  .profile_page{
    background-color: mintcream;
    margin-top:-13px;
  }

  .profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 97%;
    width: 95%;
    margin-top:10px;
  }

  .profile .front {
    position: relative;
    padding: 1px;
    top: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transition: all .4s ease-in-out;
    background: rgba(0, 0, 0, 0); //0.65
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    height: 97%;
  }

  .profile .front:hover{
    box-shadow: 0 5px 25px rgba(0,0,0,0.8);
  }

  /*  Front Style
  ----------------------*/
  .profile_banner{
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: #ddd;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -50px;
    background-image: url(https://www.airbnbcitizen.com/wp-content/uploads/2017/04/Future-of-Sharing-Cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .profile_photo{
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 0px auto;
    border-radius: 100%;
  }

  .profile_photo img{ width: 100%; border-radius: 100%; opacity: 0.9;}

  .profile_name{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 400;
    color: color($colors, light);
  }
  .profile_des{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-top: 05px;
    color: #9e9e9e;
  }

  .button-custom {
    width: 100px !important;
    height: 100px !important;
    line-height: 30px !important;
    border: 2px solid white !important;
    border-radius: 50% !important;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 10px !important;
    font-weight: bold !important;
    text-align: center;
    padding: 5px 10px;
    background-color: #abb6c5;
    text-decoration: none;
    margin:0 auto;
  }

  .text-pos {
    margin-top: 90px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .profile_social{
    width: 100%;
    margin: 0px auto;
    //border-top: 1px solid #eee;
    //background-color: #fafafa;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0px;
  }

  .profile_link{
    width: 85%;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
  }
  .profile_link li{
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
  }

  .profile_link li a{
    color: #999;
  }
  .profile_link li a:hover{
    color: #abb6c5;
  }




  //empty-color was #957223
  @mixin star-rating($number-of-stars, $filled-color: #F9BF3B, $empty-color: color($colors, light), $size: 35px, $width: 135px) {
    $star--filled: ★;
    $star--empty: ☆;
    width: $width;
    > * {
      float: right;
    }
    // optional initial pulse of stars
    @at-root {
      @keyframes pulse {
        50% {
          color: lighten($empty-color, 10%);
          text-shadow: 0 0 15px lighten($empty-color, 20%);
        }
      }
    }

    label {
      height: 40px;
      width: 20%;
      display: block;
      position: relative;
      cursor: pointer;
      @for $i from 5 through (6-$number-of-stars) {
        &:nth-of-type(#{$i}):after {
          content: '#{$star--filled}';
          color: #F9BF3B;
          text-shadow: 0 0 20px $filled-color;
          $animation-delay: $i * .05s;
          animation-delay: $animation-delay;
        }
      }
      &:after {
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        content: '#{$star--empty}';
        color: $empty-color;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: $size;
        animation: 1s pulse ease;
      }
    }
    input {
      display: none;
    }
  }

  .rating-0 {
    margin: auto;
    @include star-rating(0);
  }
  .rating-1 {
    margin: auto;
    @include star-rating(1);
  }
  .rating-2 {
    margin: auto;
    @include star-rating(2);
  }
  .rating-3 {
    margin: auto;
    @include star-rating(3);
  }
  .rating-4 {
    margin: auto;
    @include star-rating(4);
  }
  .rating-5 {
    margin: auto;
    @include star-rating(5);
  }

  .display {
    display: block;
  }

  body {
    background-color: #111;
  }






  .amazing-reviews {
    font-size: 12pt;
    margin-top: 60px;
  }
  .amazing-reviews blockquote {
    font-family: Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    background: rgba(0,0,0, 0.6);
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
    position: relative;
    box-shadow: rgba(0,0,0,.025) 0 3px 20px;

    //-webkit-user-select: none;
    //-moz-user-select: none;
    //-ms-user-select: none;
    //-o-user-select: none;
    user-select: none;
    cursor: default;
  }
  .amazing-reviews blockquote:before {
    content: '';
    display: block;
    border: 20px solid transparent;
    border-top-color: #ccc;
    position: absolute;
    top: 100%;
    left: 20px;
    z-index: 250;
    background: transparent;
    height: 0;
    opacity: 1;
  }
  .amazing-reviews blockquote:nth-of-type(even):before {
    left: auto;
    right: 20px;
  }
  .amazing-reviews blockquote:after {
    content: '';
    display: block;
    border: 19px solid transparent;
    border-top-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 100%;
    left: 21px;
    z-index: 500;
  }
  .amazing-reviews blockquote:nth-of-type(even):after {
    left: auto;
    right: 21px;
  }
  .amazing-reviews blockquote:last-of-type {
    margin-bottom: 45px;
  }
  .amazing-reviews blockquote header span i {
    color: white;
    text-shadow: #aaa 1px 0 0, #aaa 0 1px 0, #aaa -1px 0 0, #aaa 0 -1px 0;
  }

  .amazing-reviews blockquote span em {
    font-style: normal;
    font-weight: bold;
    color: color($colors, primary);
    text-decoration: underline;
  }
  .amazing-reviews blockquote span:last-of-type {
    color: #e47d21;
    font-size: 10pt;
    font-weight: bold;
    display: block;
  }
  .amazing-reviews blockquote p {
    font-size: 10pt;
    font-style: normal;
    margin: 12px 0 0 0;
    color: mintcream;
  }
  .amazing-reviews h2:last-of-type {
    background: #eee;
    text-align: center;
    font-weight: 400;
    padding: 15px;
    margin: 0;
    border: 1px solid #ccc;
    position: relative;
  }
  .amazing-reviews h2 q,
  .amazing-reviews h2 strong {
    font-weight: 600;
  }
  @media (min-width: 400px) {
    .amazing-reviews h2:last-of-type {
      font-size: 24pt;
    }
  }
  @media (min-width: 700px) {
    .amazing-reviews blockquote {
      //width: 75%;
      margin: 30px 15px 0 15px;
    }
    //.amazing-reviews blockquote:nth-of-type(even) {
    //  margin-left: calc(25% - 15px);
    //}
    .amazing-reviews h2:last-of-type {
      font-size: 28pt;
    }
  }
  @media (min-width: 700px) {
    .amazing-reviews .quote-container {
      width: 100%;
      padding: 0 75px;
    }
  }






  /// Star Rating

  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400');

  $rating-min-value: 0 !default;
  $rating-max-value: 5 !default;
  $rating-steps-value: .01 !default;
  $rating-color-empty: #584216 !default;
  $rating-color-full: lighten(#F9BF3B, 5%) !default;

  @function rating-values() {
    $rating-values: ();
    @for $i from $rating-min-value through ($rating-max-value / $rating-steps-value) {
      $rating-value: abs($i * $rating-steps-value);
      $rating-values: append($rating-values, $rating-value, 'comma');
    }
    @return $rating-values;
  }

  $enabled-disabled-stars: (
    enabled: 'https://scontent.fdsa1-1.fna.fbcdn.net/v/t34.0-12/23140501_10210305962264953_1458812613_n.png?oh=b7aaad7b8f54a35df5784bc7c4a4df55&oe=59FA7157',
    disabled: 'https://scontent.fdsa1-1.fna.fbcdn.net/v/t34.0-12/23114671_10210305964024997_1000238021_n.png?oh=eda006b877d14d59894283cba5b6a4a8&oe=59FA8400',
  );

  @function get-icon($color) {
    @if $color==$rating-color-full {
      @return url(map-get($enabled-disabled-stars, enabled)) center / cover no-repeat;
    } @else {
      @return url(map-get($enabled-disabled-stars, disabled)) center / cover no-repeat;
    }
  }

  @mixin c-rating($star-size: 20px, $star-element: button, $interaction-type: representative) {
    @if not index(clickable representative, $interaction-type) {
      @error "Interaction type must be either `clickable` or `representative`.";
    }

    #{$star-element} {
      display: inline-block;
      float: left;
      width: $star-size;
      height: $star-size;
      border: 0;
      text-indent: -9999px;
      outline: none;
      background: get-icon($rating-color-empty);
      //@if $interaction-type == clickable {
      //  cursor: pointer;
      //  transition: background 0.25s ease;
      //}
    }

    @each $rating-value in rating-values() {
      $rating-value-ceil: round($rating-value);
      &[data-rating-value="#{$rating-value}"] {
        #{$star-element}:nth-child(-n+#{$rating-value-ceil}) {
          background: get-icon($rating-color-full);
        }
      }
    }
  }

  .am-review-card-title {
    font-size: 60%;
    font-weight: bold;
    color: white;
  }

  .c-rating {
    @include c-rating(15px, button, representative);
    float: right;
    background-color: mintcream;
    padding: 3px;
    border-radius:8px;
  }


  .blockquote {

  }
}
