<ion-header>
  <ion-navbar color=light hideBackButton="false">
    <ion-title color="white">Borrow</ion-title>
  </ion-navbar>
  <ion-toolbar color="light">
    <ion-segment [(ngModel)]="borrowitems">
      <ion-segment-button value="requests">Requests</ion-segment-button>
      <ion-segment-button value="borrowed">Borrowed</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding class="profile_page">

  <div [ngSwitch]="borrowitems">

    <ion-grid *ngSwitchCase="'requests'">
      <div class="profile_des">Items you requested</div>
          <ion-row *ngFor="let item of itemsLoggedInUserRequested; let i = index">
            <ion-card class="request-card">
              <div>
                <div style="display: inline-block; float:left;">
                  <ion-avatar item-start>
                    <img [src]="item.picture" class="requester-avatar">
                  </ion-avatar>
                  <div style="padding: 10px">
                    <ion-badge item-end class=".item-type" style="float:left;">{{this.getNumberOfRequests(item)}} </ion-badge>
                  </div>
                </div>
                <div style="display: inline-block; margin-left: 9px; max-width: 57%;" class="request-title">
                  <div style="font-size:1.6rem">{{item.name}}</div>
                  <!--<br>-->
                  <div style="font-size:1.4rem;">
                    By <u class="link-to-user" (click)="goToOtherUsersPage(item)"> {{item.owner}} </u> <br>
                    From: {{item.borrow_readable_time}} <br>
                    To: {{item.max_borrow_duration_readable_time}}
                  </div>
                </div>
              </div>
              <div>
                <div style="margin-top:3px;">
                  <button ion-button (click)="removeThisRequest(item.owner_uid, item.id)" style="background-color: darkred; display: inline-block;">Cancel</button>
                  <button ion-button class="chat-button" (click)="chatWithOwner(item.owner_uid)" style="background-color: darkblue; float: right; display: inline-block;">Chat</button>
                </div>
              </div>

            </ion-card>

              <!--<ion-card class="with-requests" (click)="showItem(item)">-->
                <!--<img [src]="item.picture" class="item-image">-->
                <!--<ion-card-title>{{item.name}}</ion-card-title>-->
                <!--<ion-row>-->
                  <!--<ion-col class="requests"></ion-col>-->
                  <!--<ion-badge item-end class=".item-type"> {{this.getNumberOfRequests(item)}} </ion-badge>-->
                  <!--<div>-->
                    <!--<button ion-button (click)="removeThisRequest(request.requester_uid, request.item_id)" style="background-color: darkred; margin-left: 6px; display: inline-block;">Decline</button>-->
                    <!--<button ion-button class="chat-button" style="background-color: darkblue; float: right;  display: inline-block;">Chat</button>-->
                  <!--</div>-->
                <!--</ion-row>-->
              <!--</ion-card>-->

          </ion-row>
    </ion-grid>

    <div *ngSwitchCase="'borrowed'">
      <div class="profile_des">Items you borrowed</div>
      <ion-grid>
        <ion-row *ngFor="let item of itemsLoggedInUserBorrowed;">

          <ion-card *ngIf="item.borrower_claimed_to_return == 1; else display_normal;" class="request-card" style="background: rgba(250, 15, 15, 0.5);">
            <div>
              <div style="display: inline-block; float:left;">
                <ion-avatar item-start>
                  <img [src]="item.picture" class="requester-avatar">
                </ion-avatar>
              </div>
              <div style="display: inline-block; margin-left: 9px;">
                <div class="request-title">
                  {{item.name}}
                </div>
                <div class="request-dates">
                  From: {{getDateFromTimestamp(item.borrow_time)}}
                  <br>
                  To: {{getDateFromTimestamp(item.max_borrow_duration)}}
                  <br>
                  Owner: <u class="link-to-user" (click)="goToOtherUsersPage(item)"> {{item.owner}}</u>
                </div>
              </div>
            </div>
            <div>
              <br>
              <div style="padding: 10px">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [attr.data-percentage-value]="item.percentage_time">
                    <span class="title">{{item.percentage_time}}%</span>
                  </div>
                </div>
              </div>
              <div>
                <button ion-button class="accept-button" style="background-color: darkred;" (click)="cancelReturnClaim(item)">Cancel</button>
                <button ion-button class="decline-button" (click)="reviewOwner(item)" style="background-color: darkgoldenrod; margin-left: 2px">Review★</button>
                <button ion-button class="chat-button" (click)="chatWithOwner(item.owner_uid)" style="background-color: darkblue; float: right;">Chat</button>
              </div>
            </div>
          </ion-card>


          <ng-template #display_normal>
            <ion-card class="request-card">
              <div>
                <div style="display: inline-block; float:left;">
                  <ion-avatar item-start>
                    <img [src]="item.picture" class="requester-avatar">
                  </ion-avatar>
                </div>
                <div style="display: inline-block; margin-left: 9px;">
                  <div class="request-title">
                    {{item.name}}
                  </div>
                  <div class="request-dates">
                    From: {{getDateFromTimestamp(item.borrow_time)}}
                    <br>
                    To: {{getDateFromTimestamp(item.max_borrow_duration)}}
                    <br>
                    Owner: <u class="link-to-user" (click)="goToOtherUsersPage(item)"> {{item.owner}}</u>
                  </div>
                </div>
              </div>
              <div>
                <br>
                <div style="padding: 10px">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [attr.data-percentage-value]="item.percentage_time">
                      <span class="title">{{item.percentage_time}}%</span>
                    </div>
                  </div>
                </div>
                <div>
                  <button ion-button class="accept-button" (click)="returnedItemToOwner(item)">Returned</button>
                  <button ion-button class="decline-button" (click)="reviewOwner(item)" style="background-color: darkgoldenrod; margin-left: 2px">Review★</button>
                  <button ion-button class="chat-button" (click)="chatWithOwner(item.owner_uid)" style="background-color: darkblue; float: right;">Chat</button>
                </div>
              </div>
            </ion-card>
          </ng-template>

        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>
