<ion-header>
  <ion-navbar color=light hideBackButton="false">
    <ion-title color="white">Borrow</ion-title>
  </ion-navbar>
  <ion-toolbar color="light">
    <ion-segment [(ngModel)]="borrowitems">
      <ion-segment-button value="requests">Requests</ion-segment-button>
      <ion-segment-button value="borrowed">Borrowed</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding class="profile_page">

  <div [ngSwitch]="borrowitems">

    <ion-grid *ngSwitchCase="'requests'">
      <div class="profile_des">Items you requested</div>
      <ion-row>
        <ion-col col-xl-3 col-6 *ngFor="let nr of getNumberOfColumns()">
          <ion-row *ngFor="let item of itemsLoggedInUserRequested; let i = index">
            <ion-col *ngIf="i % getNumberOfColumns().length === nr">

              <ion-card class="with-requests" (click)="showItem(item)">
                <img [src]="item.picture" class="item-image">
                <ion-card-title>{{item.name}}</ion-card-title>
                <ion-row>
                  <ion-col class="requests"></ion-col>
                  <ion-badge item-end class=".item-type"> {{this.getNumberOfRequests(item)}} </ion-badge>
                </ion-row>
              </ion-card>

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngSwitchCase="'borrowed'">
      <div class="profile_des">Items you borrowed</div>
      <ion-grid>
        <ion-row *ngFor="let item of itemsLoggedInUserBorrowed;">
          <ion-card class="request-card">
            <div>
              <div style="display: inline-block; float:left;">
                <ion-avatar item-start>
                  <img [src]="item.picture" class="requester-avatar">
                </ion-avatar>
              </div>
              <div style="display: inline-block; margin-left: 9px;">
                <div class="request-title">
                  {{item.name}}
                </div>
                <div class="request-dates">
                  From: {{getDateFromTimestamp(item.borrow_time)}}
                  <br>
                  To: {{getDateFromTimestamp(item.max_borrow_duration)}}
                  <br>
                  Owner: <u class="link-to-user" (click)="goToOtherUsersPage(item)"> {{item.owner}}</u>
                </div>
              </div>
            </div>
            <div>
              <br>
              <div style="padding: 10px">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [attr.data-percentage-value]="item.percentage_time">
                    <span class="title">{{item.percentage_time}}%</span>
                  </div>
                </div>
              </div>
              <div>
                <button ion-button class="accept-button" (click)="returnedItemToOwner(item)">Returned</button>
                <button ion-button class="decline-button" (click)="reviewOwner(item)" style="background-color: darkgoldenrod; margin-left: 2px">Review★</button>
                <button ion-button class="chat-button" style="background-color: darkblue; float: right;">Chat</button>
              </div>
            </div>
          </ion-card>
        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>
