page-item {
  .toolbar-md-light .toolbar-title-md {
    text-align: center;
    margin-left: -3rem;
  }

  .item{
    background-color: mintcream;
  }

  .label-md {
    margin: 0;
  }

  .item-block .item-inner{
    background-color: mintcream;
  }

  .scroll-content {
    background-color: mintcream;
  }

  img {
    dispaly: block;
    margin-bottom: 7px;
  }

  .input-wrapper {
    margin-bottom: -10px;
  }

  .item-md h1 {
    margin: 0;
  }

  .item-picture{
    margin-top: 7px;
    max-height: 46vh;
    background-size: cover;
    border-radius:20px;
  }
}
