page-chat {
  .chat-bubble {
    margin: 5px;
    display: inline-block;
    clear: both;
  }

  .toolbar-md-light .toolbar-title-md{
    text-align: center;
    margin-left: -3rem;
  }

  .chat-bubble-me {
    float: right;
    margin-left: 15rem;
  }

  .chat-bubble-other {
    float: left;
    margin-left: -3rem;
    margin-right: 18rem;
  }

  .chat-bubble-text-me {
    background-color: lightgrey;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
  }

  .chat-bubble-text-other {
    margin-left: 35px;
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .chat-bubble-img-other {
    float: left;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  ul {
    list-style: none;
  }
}
