page-chat {
  div {
    padding: 0px !important;
  }

  .chat-bubble {
    padding: 10px;
    margin: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    clear: both;
  }

  .chat-bubble-me {
    background-color: lightgrey;
    float: right;
  }

  .chat-bubble-other {
    background-color: cornflowerblue;
    float: left;
    color: white;
  }

  ul {
    list-style: none;
  }
}
