page-profile {

  .profile_page{
    background-color: mintcream;
    background-position: center;
    background-size:cover;
    margin-top: -13px;
  }

  .profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 97%;
    width: 95%;
    margin-top: 10px;
  }


  .profile .front {
    height: 108%;
    position: relative;
    top: 0;
    transform: translate(-50%, -50%);
    //z-index: 900;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    /* Box Style Front*/
    //background-color: #fff;
    background: mintcream;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  }
  .profile .front:hover{
    box-shadow: 0 5px 25px rgba(0,0,0,0.8);
  }

  /*  Front Style
  ----------------------*/
  .profile_banner{
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: #ddd;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -50px;
    background-image: url(https://www.airbnbcitizen.com/wp-content/uploads/2017/04/Future-of-Sharing-Cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .profile_photo{
    width: 100px;
    height: 90px;
    background-color: #eee;
    margin: 0px auto;
    border-radius: 100%;
    border-size: cover;
  }

  .profile_photo img{ width: 100%; border-radius: 100%; opacity: 0.9;}

  .profile_name{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 400;
    color: color($colors, light);
  }
  .profile_des{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-top: 05px;
    color: #9e9e9e;
  }

  .btn-space {
    margin-top: 60px;
  }

  .btn-align {
    margin-top: 50px;
    display: flex;
    display: -webkit-flex;
  }

  .button-custom {
    width: 100px !important;
    height: 100px !important;
    line-height: 30px !important;
    border: 2px solid white !important;
    border-radius: 50% !important;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 10px !important;
    font-weight: bold !important;
    text-align: center;
    padding: 5px 10px;
    background-color: #abb6c5;
    text-decoration: none;
    //margin:0 auto;
  }

  .text-pos {
    margin-top: 90px;
    color: color($colors, light);
    font-size: 14px;
    font-weight: 400;
  }


  .btn{
    display: block;
    width: 90px;
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #abb6c5;
    color: #fff;
    text-decoration: none;
    //margin:0 auto;
    border-radius: 50px;
    margin-top: 20px;
  }

  .profile_social{
    width: 100%;
    margin: 0px auto;
    //border-top: 1px solid #eee;
    //background-color: #fafafa;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0px;
  }

  .profile_link{
    width: 85%;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
  }
  .profile_link li{
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
  }

  .profile_link li a{
    color: #999;
  }
  .profile_link li a:hover{
    color: #abb6c5;
  }

  /*  Form
  ----------------------*/
  .contact{
    padding: 60px 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contact input, .contact textarea{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    margin-top: 10px;
    background-color: #fff;
  }

  .submit{
    padding: 10px 20px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  }

  /*  Thankyou
  ----------------------*/
  .thankyou{
    width: 100%;
    padding: 0px 20px;
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .thankyou_title{
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  }

  .link{
    display: block;
    text-align: center;
    color: #ddd;
    font-size: 14px;
    text-decoration: none;
  }


  @mixin star-rating( $filled-color: #F9BF3B, $empty-color: #957223, $size: 35px, $width: 135px) {
    $star--filled: ★;
    $star--empty: ☆;
    width: $width;
    > * {
      float: right;
    }
    // optional initial pulse of stars
    @at-root {
      @keyframes pulse {
        50% {
          color: lighten($empty-color, 10%);
          text-shadow: 0 0 15px lighten($empty-color, 20%);
        }
      }
    }

    label {
      height: 40px;
      width: 20%;
      display: block;
      position: relative;
      cursor: pointer;
      @for $i from 5 through (6-4) {
        &:nth-of-type(#{$i}):after {
          content: '#{$star--filled}';
          color: #F9BF3B;
          text-shadow: 0 0 20px $filled-color;
          $animation-delay: $i * .05s;
          animation-delay: $animation-delay;
        }
      }
      &:after {
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        content: '#{$star--empty}';
        color: $empty-color;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: $size;
        animation: 1s pulse ease;
      }
    }
    input {
      display: none;
    }
  }

  .rating {
    margin: auto;
    @include star-rating();
  }

  .display {
    display: block;
  }

  body {
    background-color: #111;
  }
}
