<!--
  Generated template for the PostItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>Post Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
  <ion-card class="add-item-space">

    <img src="assets/image/add-item.png" id="picture"/>

  </ion-card>

  <button ion-button full (click)="changePhoto()">Add Picture</button>

  <ion-list>
    <form [formGroup]="postForm" (ngSubmit)="addItem(postForm.value)">
      <ion-item [ngClass]="{'error-border':!postForm.controls.name.valid && postForm.controls.name.touched}">
        <ion-label floating>Item Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="postForm.controls.name.hasError('required') && postForm.controls.name.touched">
        <p>Sorry, field Item name is required!</p>
      </ion-item>

      <ion-item [ngClass]="{'error-border':!postForm.controls.description.valid && postForm.controls.description.touched}">
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="description" type="text"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="postForm.controls.description.hasError('required') && postForm.controls.description.touched">
        <p>Sorry, field description is required!</p>
      </ion-item>
      <ion-item *ngIf="postForm.controls.description.hasError('minlength') && postForm.controls.description.touched">
        <p>Sorry, minimum description length is 20!</p>
      </ion-item>

      <!--TODO: add rest of options.-->
      <ion-item class="general-ion-item">
        <ion-label>Choose Category</ion-label>
        <ion-select formControlName="category">
          <ion-option value="Other">Other</ion-option>
          <ion-option value="Baby and child">Baby and child</ion-option>
          <ion-option value="Clothing">Clothing</ion-option>
          <ion-option value="DIY">DIY</ion-option>
          <ion-option value="Garden">Garden</ion-option>
          <ion-option value="Kitchen">Kitchen</ion-option>
          <ion-option value="Pets">Pets</ion-option>
          <ion-option value="IT">IT</ion-option>
          <ion-option value="Board Games">Board Games</ion-option>
          <ion-option value="Video Games">Video Games</ion-option>


        </ion-select>
      </ion-item>

      <ion-item class="general-ion-item">
        <ion-label>Type</ion-label>
        <ion-select formControlName="type" interface="popover">
          <ion-option value="Swap">Swap</ion-option>
          <ion-option value="Free">Free</ion-option>
          <ion-option value="Loan">Loan</ion-option>
        </ion-select>
      </ion-item>

      <!--Only want borrowing time if item is for loan-->
      <!--&lt;!&ndash;TODO: Rudimentary implementation. Ideally would want fully customizable duration alongside presets.&ndash;&gt;-->
      <!--<ion-item *ngIf="postForm.controls.type.value == 'Loan'" interface="popover" class="general-ion-item">-->
        <!--<ion-label stacked>-->
          <!--Maxloan-->
        <!--</ion-label>-->
        <!--<ion-select formControlName="borrow_duration" >-->
          <!--<ion-option value="one_day">1 day</ion-option>-->
          <!--<ion-option value="two_days">2 days</ion-option>-->
          <!--<ion-option value="three_days">3 days</ion-option>-->
          <!--<ion-option value="five_days">5 days</ion-option>-->
          <!--<ion-option value="one_week">1 week</ion-option>-->
          <!--<ion-option value="two_weeks">2 weeks</ion-option>-->
          <!--<ion-option value="four_weeks">4 weeks</ion-option>-->
        <!--</ion-select>-->
      <!--</ion-item>-->

      <ion-item *ngIf="currentlyPostingItem">
        <p>Posting item, please wait...</p>
      </ion-item>

      <button ion-button
              full
              color="primary"
              style="margin-top: 20px;"
              [disabled]="!postForm.valid"
              type="submit">Post</button>
    </form>

  </ion-list>

</ion-content>
