<!--<ion-header>-->

  <!--<ion-navbar color=light hideBackButton="false">-->
    <!--<ion-title color="white">Shouts</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->

<ion-header>
  <ion-navbar color=light>
    <ion-grid>
      <ion-row>
        <ion-col col-9 col-xl-11>
          <!--<ion-avatar>-->
          <!--<img src="../../assets/images/ShareGreen2.jpg" width="20%" height="20%">-->
          <!--</ion-avatar>-->
          <ion-searchbar
            [(ngModel)]="searchQuery"
            [showCancelButton]="searchQuery.length > 0"
            (ngModelChange)="onSearch($event)">
          </ion-searchbar>
        </ion-col>
        <ion-col col-1 col-xl-1>
          <button ion-button class="filters-button" (click)="filter()">Filters</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.isFiltering">
        <ion-col col-12 col-xl-12>
          <ion-list>
            <ion-item color=light>
              <ion-label>Type</ion-label>
              <ion-select [(ngModel)]="filterOptions.type" multiple="true" (ionChange)="filterChanged()">
                <ion-option>Loan</ion-option>
                <ion-option>Swap</ion-option>
                <ion-option>Free</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <!--<ion-col col-3 col-xl-3>
          <ion-list>
            <ion-item>
              <ion-label>Category</ion-label>
              <ion-select [(ngModel)]="filterOptions.category" multiple="true" (ionChange)="filterChanged()">
                <ion-option value="Other">Other</ion-option>
                <ion-option value="Baby and child">Baby and child</ion-option>
                <ion-option value="Clothing">Clothing</ion-option>
                <ion-option value="DIY">DIY</ion-option>
                <ion-option value="Garden">Garden</ion-option>
                <ion-option value="Kitchen">Kitchen</ion-option>
                <ion-option value="Pets">Pets</ion-option>
                <ion-option value="IT">IT</ion-option>
                <ion-option value="Board Games">Board Games</ion-option>
                <ion-option value="Video Games">Video Games</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>-->
        <ion-col col-12 col-xl-12>
          <ion-list>
            <ion-item color=light>
              <ion-label>
                By distance
              </ion-label>
              <ion-toggle [(ngModel)]="filterOptions.byDistance" (ionChange)="filterChanged()">
              </ion-toggle>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding class="app-background">
  <ion-grid>
    <ion-row>
      <ion-col col-xl-3 col-6 *ngFor="let nr of getNumberOfColumns()">

        <ion-row *ngFor="let shout of filteredShouts; let i = index">
          <ion-col *ngIf="i % getNumberOfColumns().length === nr">

            <ion-card *ngIf="i === 0 && shout.borrow_time < 0; else display_normal" (click)="getAddShoutPage()">
              <img [src]="shout.picture" class="add-item-image">
              <ion-card-title>{{shout.name}}</ion-card-title>
            </ion-card>

            <ion-card *ngIf="i > 0">
              <img [src]="shout.picture" class="item-image">
              <ion-card-title>{{shout.name}}</ion-card-title>
              <div class="distance">
                By: <em class="link-to-user" (click)="goToOtherUsersPage(shout.shouter_uid)"> {{shout.shouter}}</em><br>
                {{this.getDistanceTill(shout)}}
              </div>
              <div *ngIf="shoutBelongsToLoggedInUser(shout)">
                <button ion-button (click)="removeMyShout()" style="background-color: darkred; margin-left: 6px; display: inline-block;">Cancel</button>
                <ion-badge item-end style="display: inline-block;"> {{shout.type}} </ion-badge>
              </div>
              <div *ngIf="!shoutBelongsToLoggedInUser(shout)">
                <button ion-button (click)="chatWithUser(shout.shouter_uid)" style="background-color: darkblue; margin-left: 6px; display: inline-block;">Chat</button>
                <ion-badge item-end style="display: inline-block;"> {{shout.type}} </ion-badge>
              </div>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-fab bottom right>-->
    <!--<button ion-fab (click)="changeToMap()">-->
      <!--<ion-icon name="pin"></ion-icon>-->
    <!--</button>-->
  <!--</ion-fab>-->
</ion-content>

