page-my-items {

  .filters-button {
    margin-left: -1.15rem;
  }

  .searchbar-md {
    margin-left: -1rem;
  }

    .app-background{
      background-color: #f0faf5;
      background-position: center;
      background-size: cover;
    }

    .searchbar-input{
      background-color: mintcream;
    }

    .card{
      border-radius : 5px;
      box-shadow: 0 3px 3px rgba(0,0,0, 0.2);
      //background: rgba(83,202,144, 0.3);
      background: rgba(0,0,0, 0.5);
      border: rgba(0,0,0, 0.2) 1px groove;
      margin: 2%;
      width: 100%;
    }

    .card-title{
      margin-top: -4px;
      margin-left: 4px;
      font-size: 120%;
      font-weight: bold;
      color: white;
    }

    .filters-button{
      background-color: color($colors, primary);
      color: white;
      border-radius: 6px;
    }

    .item-image{
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topleft: 10px;
      border-bottom: rgba(0,0,0, 0.4) 1px groove;
    }

    .item-type{
      padding: 1000px;
      margin-right: -100%;
    }

    .badge {
      margin-right: 5px;
      margin-bottom: 5px;
      float: right;
      background-color: white;
      color: #00A86B;
      border-radius: 20px;
    }

    .distance {
      color: white;
      font-size: 80%;
      font-weight: bold;
      padding-bottom: 4px;
      padding-top: 0;

    }
}
