<ion-header>
  <ion-navbar color=light hideBackButton="false">
    <ion-title color="white">My items</ion-title>
  </ion-navbar>
  <ion-toolbar color="light">
    <ion-segment [(ngModel)]="myitems">
      <ion-segment-button value="manage">Manage</ion-segment-button>
      <ion-segment-button value="requests">Requests</ion-segment-button>
      <ion-segment-button value="lent">Lent</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding class="app-background">


  <div [ngSwitch]="myitems">

    <ion-grid *ngSwitchCase="'manage'">
      <ion-row>
        <ion-col col-xl-3 col-6 *ngFor="let nr of getNumberOfColumns()">
          <ion-row *ngFor="let item of filteredItems; let i = index">
            <ion-col *ngIf="i % getNumberOfColumns().length === nr">

              <ion-card (click)="showItem(item)">
                <img [src]="item.picture" class="item-image">
                <ion-card-title>{{item.name}}</ion-card-title>
                <ion-row>
                  <ion-col class="distance">{{this.getDistanceTill(item)}}</ion-col>
                  <ion-badge item-end class=".item-type"> {{item.type}} </ion-badge>
                </ion-row>
              </ion-card>

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'requests'">
      <div class="profile_des">Your items you received requests for</div>
      <ion-row>
        <ion-col col-xl-3 col-6 *ngFor="let nr of getNumberOfColumns()">
          <ion-row *ngFor="let item of itemsWithRequests; let i = index">
            <ion-col *ngIf="i % getNumberOfColumns().length === nr">

              <ion-card class="with-requests"(click)="getReceivedRequests(item)">
                <img [src]="item.picture" class="item-image">
                <ion-card-title>{{item.name}}</ion-card-title>
                <ion-row>
                  <ion-col class="requests"></ion-col>
                  <ion-badge item-end class=".item-type"> {{this.getNumberOfRequests(item)}} </ion-badge>
                </ion-row>
              </ion-card>

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>


    <div *ngSwitchCase="'lent'">
      <div class="profile_des">Your items you already lent</div>
      <ion-grid>
        <!--<ion-row>-->
        <!--<ion-col>-->
        <ion-row *ngFor="let item of itemsLoggedInUserLent;">
          <div class="container">
            <!--<div class="item1" style="background-image: url({{item.picture}})"></div>-->
            <!--<div class="item1" [ngStyle]="{ 'background-image': 'url(' + item.picture + ')'}"></div>-->
            <img src="{{item.picture}}" class="item1">
            <div class="item2">
              <div class="text"> <b>Name</b>: <div class="value">{{item.name}}</div> <br> </div>
              <div class="text"> <b>Taken</b>: <div class="value">{{item.borrow_time}}</div><br> </div>
              <div class="text"> <b>Due</b>: <div class="value">{{item.max_borrow_duration}}</div> <br> </div>
              <div class="text"> <b>Borrower</b>: <div class="value">{{item.borrower}}</div> </div>
            </div>

            <div class="progress">
              <div class="progress-bar" role="progressbar" [attr.data-percentage-value]="item.percentage_time">
                <span class="title">{{item.percentage_time}}%</span>
              </div>
            </div>

            <button ion-button class="return-button">Received</button>
          </div>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>
