<ion-header>
  <ion-navbar color=light>
    <ion-grid>
      <ion-row>
        <ion-col col-9 col-xl-11>
          <ion-searchbar>
            <!--[(ngModel)]="searchQuery"-->
            <!--[showCancelButton]="searchQuery.length > 0"-->
            <!--(ngModelChange)="onSearch($event)">-->
          </ion-searchbar>
        </ion-col>
        <ion-col col-1 col-xl-1>
          <button ion-button class="filters-button">Filters</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content padding class="app-background">
  <ion-grid>
    <ion-row>
      <ion-col col-xl-3 col-6 *ngFor="let nr of getNumberOfColumns()">
        <ion-row *ngFor="let item of filteredItems; let i = index">
          <ion-col *ngIf="i % getNumberOfColumns().length === nr">

            <ion-card (click)="showItem(item)">
              <img [src]="item.picture" class="item-image">
              <ion-card-title>{{item.name}}</ion-card-title>
              <ion-row>
                <ion-col class="distance">{{this.getDistanceTill(item)}}</ion-col>
                <ion-badge item-end class=".item-type"> {{item.type}} </ion-badge>
              </ion-row>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<ion-fab bottom right>-->
    <!--<button ion-fab (click)="changeToMap()">-->
      <!--<ion-icon name="pin"></ion-icon>-->
    <!--</button>-->
  <!--</ion-fab>-->
</ion-content>
