page-received-requests {

  .toolbar-md-light .toolbar-title-md{
    //text-align: left;
    //padding: 0 20%;
    text-align: center;
    margin-left: -3rem;
  }

  .received-requests-page{
    background-color: mintcream;
    margin-top: -13px;
  }
}
