page-add-shout {

  .toolbar-md-light .toolbar-title-md{
    text-align: center;
    margin-left: -3rem;
  }

  .card-background-page {

    background-color: mintcream;

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-md {
      width: 50%;
      margin: auto;
      margin-top:20px;
      max-width: 300px ;
      margin-bottom: 20px;
    }

    ion-textarea {
      height:105px
    }

    textarea{
      height:100%
    }

    .card-ios{
      width: 50%;
      margin: auto;
      margin-top:20px;
      margin-bottom:20px;
    }

    .card-title {
      position: absolute;
      top: 40%;
      font-size: 1.4em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .filler {
      width: 100%;
    }

  }

  .add-item-space {
    border-radius: 10px;
    //padding: 10px 10px;
    box-shadow: rgba(0, 0, 0, 1);
  }

  .general-ion-item {
    background-color: mintcream;
    //color: white;
  }

}
