page-item-by-user {

  .toolbar-md-light .toolbar-title-md {
    text-align: center;
    margin-left: -3rem;
  }

  page-item-by-user .scroll-content{
    margin-bottom: 0;
  }

  .item-by-user-page {
    background-color: mintcream;
  }

  .item{
    background-color: mintcream;
  }

  .item-block .item-inner{
    background-color: mintcream;
  }

  .scroll-content {
    background-color: mintcream;
  }
}
