page-logged-in-reviews {

    .profile_page{
      background-color: mintcream;
    }

    .profile{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 97%;
      width: 95%;
      margin-top: 10px;
    }

    .profile .front {
      height: inherit;
      position: relative;
      top: 0px;
      transform: translate(-50%, -50%);
      //z-index: 900;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      /* Box Style Front*/
      //background-color: #fff;
      background: rgba(0, 0, 0, 0); //0.65
      border-radius: 10px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    }

    .profile .front:hover{
      box-shadow: 0px 5px 25px rgba(0,0,0,0.8);
    }

    .profile .back {
      height: inherit;
      position: absolute;
      top: 0px;
      //z-index: 1000;
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      /* Box Style Back*/
      background-color: #8C9EFF;
      border-radius: 10px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    }
    .profile .back:hover{
      box-shadow: 0px 5px 25px rgba(0,0,0,0.8);
    }
    .profile.flip .front {
      z-index: 900;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
    }
    .profile.flip .back {
      z-index: 1000;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    /*  Front Style
    ----------------------*/
    .profile_banner{
      width: 100%;
      height: auto;
      padding: 60px 0px;
      background-color: #ddd;
      border-radius: 10px 10px 0px 0px;
      margin-bottom: -50px;
      background-image: url(https://www.airbnbcitizen.com/wp-content/uploads/2017/04/Future-of-Sharing-Cover.png);
      background-position: center;
      background-size: 500px auto;
      background-repeat: no-repeat;
    }
    .profile_photo{
      width: 100px;
      height: 100px;
      background-color: #eee;
      margin: 0px auto;
      border-radius: 100%;
    }

    .profile_photo img{ width: 100%; border-radius: 100%; opacity: 0.9;}

    .profile_name{
      text-align: center;
      margin-top: 15px;
      margin-bottom: 0px;
      font-size: 30px;
      font-weight: 400;
      color: color($colors, light);
    }
    .profile_des{
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      margin-top: 05px;
      color: #9e9e9e;
    }

    .btn-space {
      margin-top: 40px;
    }

    .btn-align {
      margin-top: 80px;
      display: flex;
      display: -webkit-flex;
    }

    .button-custom {
      width: 100px !important;
      height: 100px !important;
      line-height: 30px !important;
      border: 2px solid white !important;
      border-radius: 50% !important;
      color: white !important;
      text-align: center !important;
      text-decoration: none !important;
      font-size: 10px !important;
      font-weight: bold !important;
      text-align: center;
      padding: 5px 10px;
      background-color: #abb6c5;
      text-decoration: none;
      margin:0 auto;
    }

    .text-pos {
      margin-top: 90px;
      color: white;
      font-size: 14px;
      font-weight: 400;
    }


    .btn{
      display: block;
      width: 90px;
      text-align: center;
      font-size: 14px;
      padding: 5px 10px;
      background-color: #abb6c5;
      color: #fff;
      text-decoration: none;
      margin:0 auto;
      border-radius: 50px;
      margin-top: 20px;
    }

    .profile_social{
      width: 100%;
      margin: 0px auto;
      //border-top: 1px solid #eee;
      //background-color: #fafafa;
      border-radius: 0px 0px 10px 10px;
      position: absolute;
      bottom: 0px;
    }

    .profile_link{
      width: 85%;
      list-style: none;
      margin: 0px auto;
      padding: 0px;
    }
    .profile_link li{
      display: inline-block;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 auto;
    }

    .profile_link li a{
      color: #999;
    }
    .profile_link li a:hover{
      color: #abb6c5;
    }

    /*  Form
    ----------------------*/
    .contact{
      padding: 60px 20px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .contact input, .contact textarea{
      display: block;
      width: 100%;
      height: auto;
      padding: 10px 20px;
      border: 0px;
      border-radius: 3px;
      box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
      margin-top: 10px;
      background-color: #fff;
    }




    //empty-color was #957223
    @mixin star-rating( $filled-color: #F9BF3B, $empty-color: color($colors, light), $size: 35px, $width: 135px) {
      $star--filled: ★;
      $star--empty: ☆;
      width: $width;
      > * {
        float: right;
      }
      // optional initial pulse of stars
      @at-root {
        @keyframes pulse {
          50% {
            color: lighten($empty-color, 10%);
            text-shadow: 0 0 15px lighten($empty-color, 20%);
          }
        }
      }

      label {
        height: 40px;
        width: 20%;
        display: block;
        position: relative;
        cursor: pointer;
        @for $i from 5 through (6-5) {
          &:nth-of-type(#{$i}):after {
            content: '#{$star--filled}';
            color: #F9BF3B;
            text-shadow: 0 0 20px $filled-color;
            $animation-delay: $i * .05s;
            animation-delay: $animation-delay;
          }
        }
        &:after {
          transition: all 0.4s ease-out;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          content: '#{$star--empty}';
          color: $empty-color;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: $size;
          animation: 1s pulse ease;
        }
      }
      input {
        display: none;
      }
    }

    .rating {
      margin: auto;
      @include star-rating();
    }

    .display {
      display: block;
    }

    body {
      background-color: #111;
    }






  .amazing-reviews {
    font-size: 12pt;
    margin-top: 60px;
  }
  .amazing-reviews blockquote {
    font-family: Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    padding: 0;
    background: rgba(0,0,0, 0.6);
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
    position: relative;
    box-shadow: rgba(0,0,0,.025) 0 3px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
  }
  .amazing-reviews blockquote:before {
    content: '';
    display: block;
    border: 20px solid transparent;
    border-top-color: #ccc;
    position: absolute;
    top: 100%;
    left: 20px;
    z-index: 250;
    background: transparent;
    height: 0;
    opacity: 1;
  }
  .amazing-reviews blockquote:nth-of-type(even):before {
    left: auto;
    right: 20px;
  }
  .amazing-reviews blockquote:after {
    content: '';
    display: block;
    border: 19px solid transparent;
    border-top-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 100%;
    left: 21px;
    z-index: 500;
  }
  .amazing-reviews blockquote:nth-of-type(even):after {
    left: auto;
    right: 21px;
  }
  .amazing-reviews blockquote:last-of-type {
    margin-bottom: 45px;
  }
  .amazing-reviews blockquote header span i {
    color: white;
    text-shadow: #aaa 1px 0 0, #aaa 0 1px 0, #aaa -1px 0 0, #aaa 0 -1px 0;
  }

  .amazing-reviews blockquote span em {
    font-style: normal;
    font-weight: bold;
    color: color($colors, primary);
    text-decoration: underline;
  }
  .amazing-reviews blockquote span:last-of-type {
    color: #e47d21;
    font-size: 10pt;
    font-weight: bold;
    display: block;
  }
  .amazing-reviews blockquote p {
    font-size: 10pt;
    font-style: normal;
    margin: 12px 0 0 0;
    color: mintcream;
  }
  .amazing-reviews h2:last-of-type {
    background: #eee;
    text-align: center;
    font-weight: 400;
    padding: 15px;
    margin: 0;
    border: 1px solid #ccc;
    position: relative;
  }
  .amazing-reviews h2 q,
  .amazing-reviews h2 strong {
    font-weight: 600;
  }
  @media (min-width: 400px) {
    .amazing-reviews h2:last-of-type {
      font-size: 24pt;
    }
  }
  @media (min-width: 700px) {
    .amazing-reviews blockquote {
      //width: 75%;
      margin: 30px 15px 0 15px;
    }
    .amazing-reviews blockquote:nth-of-type(even) {
      margin-left: calc(25% - 15px);
    }
    .amazing-reviews h2:last-of-type {
      font-size: 28pt;
    }
  }
  @media (min-width: 700px) {
    .amazing-reviews .quote-container {
      width: 100%;
      padding: 0 75px;
    }
  }










  /// Star Rating

  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400');

  $rating-min-value: 0 !default;
  $rating-max-value: 5 !default;
  $rating-steps-value: .01 !default;
  $rating-color-empty: #584216 !default;
  $rating-color-full: lighten(#F9BF3B, 5%) !default;

  @function rating-values() {
    $rating-values: ();
    @for $i from $rating-min-value through ($rating-max-value / $rating-steps-value) {
      $rating-value: abs($i * $rating-steps-value);
      $rating-values: append($rating-values, $rating-value, 'comma');
    }
    @return $rating-values;
  }

  $enabled-disabled-stars: (
    enabled: 'https://scontent.fdsa1-1.fna.fbcdn.net/v/t34.0-12/23140501_10210305962264953_1458812613_n.png?oh=b7aaad7b8f54a35df5784bc7c4a4df55&oe=59FA7157',
    disabled: 'https://scontent.fdsa1-1.fna.fbcdn.net/v/t34.0-12/23114671_10210305964024997_1000238021_n.png?oh=eda006b877d14d59894283cba5b6a4a8&oe=59FA8400',
  );

  @function get-icon($color) {
    @if $color==$rating-color-full {
      @return url(map-get($enabled-disabled-stars, enabled)) center / cover no-repeat;
    } @else {
      @return url(map-get($enabled-disabled-stars, disabled)) center / cover no-repeat;
    }
  }

  @mixin c-rating($star-size: 20px, $star-element: button, $interaction-type: representative) {
    @if not index(clickable representative, $interaction-type) {
      @error "Interaction type must be either `clickable` or `representative`.";
    }

    #{$star-element} {
      display: inline-block;
      float: left;
      width: $star-size;
      height: $star-size;
      border: 0;
      text-indent: -9999px;
      outline: none;
      background: get-icon($rating-color-empty);
      //@if $interaction-type == clickable {
      //  cursor: pointer;
      //  transition: background 0.25s ease;
      //}
    }

    @each $rating-value in rating-values() {
      $rating-value-ceil: round($rating-value);
      &[data-rating-value="#{$rating-value}"] {
        #{$star-element}:nth-child(-n+#{$rating-value-ceil}) {
          background: get-icon($rating-color-full);
        }
      }
    }
  }

  .am-review-card-title {
    font-size: 60%;
    font-weight: bold;
    color: white;
  }

  .c-rating {
    @include c-rating(15px, button, representative);
    float: right;
    background-color: mintcream;
    padding: 3px;
    border-radius:8px;
  }
}
